<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />

  </startup>
  <appSettings>
    <add key="Handler" value="C:\Users\Shlomy\Desktop\source3;C:\Users\Shlomy\Desktop\source"/>
    <add key="OutputDir" value="C:\Studies\advacedProg2\ex\MyNewService\ImageServiceWeb\target"/>
    <add key="SourceName" value="ImageServiceSource"/>
    <add key="LogName" value="ImageServiceLog"/>
    <add key ="ThumbnailSize"  value ="120"/>
  </appSettings>
</configuration>