@model ImageServiceWeb.Models.Config

@{
    ViewBag.Title = "Confirm";

}

<h2>Are you sure you want to delete the handler?</h2>

<button type="button" id="btnOK" style="margin:10px">OK</button>
<button type="button" id="btnCancel" style="margin:10px">Cancel</button>
<script>
    $("#btnOK").click(function () {
        $.post("@Url.Action("DeleteOK")", function () {
            window.location.href = "Config";
        });
    });

    $("#btnCancel").click(function () {
        window.location.href = "Config";
    })
</script>

