@model ImageServiceWeb.Models.ConfigModel

@{
    ViewBag.Title = "Confirm";

}

<h2>Do you really wan to delete this handler?</h2>

<button type="button" id="bOK" style="margin:10px">OK</button>
<button type="button" id="bCancel" style="margin:10px">Cancel</button>
<script>
    $("#bOK").click(function () {
        $.post("@Url.Action("ConfirmDelete")", function () {
            window.location.href = "Config";
        });
    });

    $("#bCancel").click(function () {
        window.location.href = "Config";
    })
</script>

